# Adattisztítás és integráció

A valós adathalmazok gyakran zajosak, hiányosak, avagy éppen redundáns információt vagy duplikátum egyedeket tartalmaznak. Ezért a tudásfeltárás folyamatában az adattisztítás és adatintegrálással kezdődik.

Az adattisztítás szerepe javítani az adatok minőségén azáltal, hogy kiszűri és eltávolítja az adatokban fellépő hibákat és inkonzisztenciákat.

Az [adattisztítás](https://hu.wikipedia.org/wiki/Adattiszt%C3%ADtás) során:
"
- felmérjük a hibákat
	- ellenőrizzük az adatfájl szerkezeti épségét
	- a zajt, felesleges információt tartalmazó mezőket javítjuk
	- felmérjük a hiányzó értékeket és amennyiben lehet ezeket pótoljuk
	- felmérjük az adatközlési és adatbeviteli hibákat
		- megvizsgáljuk az egyes változók eloszlását
			- az eloszlások szélein elhelyezkedő extrém értékeket ellenőrizzük
			- felmérjük, hogy az eloszlások megfelelnek-e az előzetes elvárásainknak, vannak-e nem várt sűrűsödések, ritkulások egyes értéktartományokban (például durva kerekítés vagy eltérő mértékegység használata az adatszolgáltatók egy részénél)
		-  megvizsgáljuk, hogy a változók közötti triviális összefüggések teljesülnek-e
-  a hibásnak tűnő adatokat felülvizsgáljuk, javítjuk 
".

# Feladatok

1. Az `egyetemek.txt` fájlból szűrjük ki az államokat és azon belül a városokat, melyben egyetemek találhatóak. Ha vannak duplikátumok, helytelen adatok (pl. számokat tartalmazó államnév), ezeket javítsuk. Vizsgáljuk meg az egyetemek eloszlását államok szerint. Melyik államban van a legtöbb, legkevesebb egyetem?

In [1]:
import pandas as pd


path = '/egyetemek.txt'
towns = []

with open(path, 'r') as file:
    items = file.readlines()
    states = list(filter(lambda x: ('[edit]' in x) and (all(c.isalpha() or c == '[' or c == ']' or c.isspace() for c in x)), items))

    statesNr = len(states)

    tchars = '[]().,?'

    for i, state in enumerate(states):
        start = items.index(state) + 1

        if i == statesNr-1: 
            end = len(items)
        else:
            end = items.index(states[i+1])

        tu = list(filter(lambda x: all(c.isalpha() or c.isspace() or c.isnumeric() or (c in tchars) for c in x), items[start:end]))

        pairs = map(lambda x: [state, x], tu)
        towns.extend(pairs)
    
df = pd.DataFrame(towns, columns=['State', 'Town'])
df.head()

def clean_town(item):
   return item[:item.find('(') - 1]

def clean_state(item):
   return item[:item.find('[')]

df['Town'] = df.Town.apply(clean_town)
df['State'] = df.State.apply(clean_state)
df.head()

df = df.drop_duplicates()
df.shape

(465, 2)

2. Bővítsük ki az adatbázisunkat egy oszloppal, mely tartalmazza az államok rövidítését is (pl. Texas - TX, California - CA stb.).  [Forrás](https://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations).

In [2]:
us_state_abbrev = {
'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA', 'Colorado': 'CO',
'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID',
'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA',
'Maine': 'ME', 'Maryland': 'MD', 'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS',
'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ',
'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK',
'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD',
'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA',
'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY'}

df['State_abb'] = df['State'].map(us_state_abbrev).fillna(df['State'])

df

             State          Town State_abb
0          Alabama        Auburn        AL
1          Alabama      Florence        AL
2          Alabama  Jacksonville        AL
3          Alabama    Livingston        AL
4          Alabama    Montevallo        AL
..             ...           ...       ...
461  West Virginia  West Liberty        WV
462      Wisconsin      Appleton        WI
463      Wisconsin      Waukesha        WI
464        Wyoming       Laramie        WY
465        Wyoming   123456[edit        WY

[465 rows x 3 columns]

3. Az adatbázist integráljuk a [List of states and territories of the United States by population](https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States_by_population) linken szereplő népszámlálási adatokkal és számoljuk ki államonként hány főre jut egy egyetemi város.

In [3]:
state_population = {"Alabama":4903185,"Alaska":731545,"Arizona":7278717,"Arkansas":3017825,"California":39512223,"Colorado":5758736,"Connecticut":3565287,
            "Delaware":973764,"Florida":21477737,"Georgia":10617423,"Hawaii":1415872,"Idaho":1787065,"Illinois":12671821,"Indiana":6732219,"Iowa":3155070,
            "Kansas":2913314,"Kentucky":4467673,"Louisiana":4648794,"Maine":1344212,"Maryland":6045680,"Massachusetts":6949503,"Michigan":9986857,
            "Minnesota":5639632,"Mississippi":2976149,"Missouri":6137428,"Montana":1068778,"Nebraska":1934408,"Nevada":3080156,"New Hampshire":1359711,
            "New Jersey":8882190,"New Mexico":2096829,"New York":19453561,"North Carolina":10488084,"North Dakota":762062,"Ohio":11689100,"Oklahoma":3956971,
            "Oregon":4217737,"Pennsylvania":12801989,"Rhode Island":1059361,"South Carolina":5148714,"South Dakota":884659,"Tennessee":6833174,"Texas":28995881,
            "Utah":3205958,"Vermont":623989,"Virginia":8535519,"Washington":7614893,"West Virginia":1792147,"Wisconsin":5822434,"Wyoming":578759}

df['Population'] = df['State'].map(state_population)
population = df.groupby(['State', 'State_abb','Population']).size().reset_index(name='University_Counts')
population['University/Citizen'] = round(population.Population/population.University_Counts,1)
population.head()

        State State_abb  Population  University_Counts  University/Citizen
0     Alabama        AL     4903185                  8            612898.1
1      Alaska        AK      731545                  1            731545.0
2     Arizona        AZ     7278717                  3           2426239.0
3    Arkansas        AR     3017825                  8            377228.1
4  California        CA    39512223                 25           1580488.9

4. Hasonlóan, a [List of U.S. states and territories by area](https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_area) linken szereplő területi adatok integrálásával, számoljuk ki államonként átlagban hány négyzetkilométerre jut egy egyetemi város.

In [4]:
allamter = {"Alabama":135767,"Alaska":135767,"Arizona":295234,"Arkansas":137732,"California":423967,"Colorado":269601,"Connecticut":14357,"Delaware":6446,
            "Florida":170312,"Georgia":153910,"Hawaii":28313,"Idaho":216443,"Illinois":149995,"Indiana":94326,"Iowa":145746,"Kansas":213100,"Kentucky":104656,
            "Louisiana":135659,"Maine":91633,"Maryland":32131,"Massachusetts":27336,"Michigan":250487,"Minnesota":225163,"Mississippi":125438,"Missouri":180540,
            "Montana":380831,"Nebraska":200330,"Nevada":286380,"New Hampshire":24214,"New Jersey":22591,"New Mexico":314917,"New York":141297,"North Carolina":139391,
            "North Dakota":183108,"Ohio":116098,"Oklahoma":181037,"Oregon":254799,"Pennsylvania":119280,"Rhode Island":4001,"South Carolina":82933,"South Dakota":199729,
            "Tennessee":109153,"Texas":695662,"Utah":219882,"Vermont":24906,"Virginia":110787,"Washington":184661,"West Virginia":62756,"Wisconsin":169635,"Wyoming":253335}
df['Area'] = df['State'].map(allamter)

area = df.groupby(["State","State_abb","Population","Area"]).size().reset_index(name="Counts")
area["Capital"] = round((area.Population/area.Counts),2)
area["Capital/km2"] = round((area.Area/area.Counts),2)
area

,State,State_abb,Population,Area,Counts,Capital,Capital/km2
0,Alabama,AL,4903185,135767,8,612898.12,16970.88
1,Alaska,AK,731545,135767,1,731545.00,135767.00
2,Arizona,AZ,7278717,295234,3,2426239.00,98411.33
3,Arkansas,AR,3017825,137732,8,377228.12,17216.50
4,California,CA,39512223,423967,25,1580488.92,16958.68
5,Colorado,CO,5758736,269601,8,719842.00,33700.12
6,Connecticut,CT,3565287,14357,7,509326.71,2051.00
7,Delaware,DE,973764,6446,2,486882.00,3223.00
8,Florida,FL,21477737,170312,10,2147773.70,17031.20
9,Georgia,GA,10617423,153910,13,816724.85,11839.23
10,Hawaii,HI,1415872,28313,1,1415872.00,28313.00
11,Idaho,ID,1787065,216443,2,893532.50,108221.50
12,Illinois,IL,12671821,149995,9,1407980.11,16666.11
13,Indiana,IN,6732219,94326,12,561018.25,7860.50
14,Iowa,IA,3155070,145746,13,242697.69,11211.23
15,Kansas,KS,2913314,213100,6,485552.33,35516.67
16,Kentucky,KY,4467673,104656,11,406152.09,9514.18
17,Louisiana,LA,4648794,135659,8,581099.25,16957.38
18,Maine,ME,1344212,91633,9,149356.89,10181.44
19,Maryland,MD,6045680,32131,8,755710.00,4016.38
20,Massachusetts,MA,6949503,27336,16,434343.94,1708.50
21,Michigan,MI,9986857,250487,19,525624.05,13183.53
22,Minnesota,MN,5639632,225163,12,469969.33,18763.58
23,Mississippi,MS,2976149,125438,5,595229.80,25087.60
24,Missouri,MO,6137428,180540,9,681936.44,20060.00
25,Montana,MT,1068778,380831,3,356259.33,126943.67
26,Nebraska,NE,1934408,200330,7,276344.00,28618.57
27,Nevada,NV,3080156,286380,2,1540078.00,143190.00
28,New Hampshire,NH,1359711,24214,6,226618.50,4035.67
29,New Jersey,NJ,8882190,22591,9,986910.00,2510.11
30,New Mexico,NM,2096829,314917,5,419365.80,62983.40
31,New York,NY,19453561,141297,31,627534.23,4557.97
32,North Carolina,NC,10488084,139391,13,806775.69,10722.38
33,North Dakota,ND,762062,183108,2,381031.00,91554.00
34,Ohio,OH,11689100,116098,22,531322.73,5277.18
35,Oklahoma,OK,3956971,181037,11,359724.64,16457.91
36,Oregon,OR,4217737,254799,10,421773.70,25479.90
37,Pennsylvania,PA,12801989,119280,40,320049.72,2982.00
38,Rhode Island,RI,1059361,4001,2,529680.50,2000.50
39,South Carolina,SC,5148714,82933,11,468064.91,7539.36
40,South Dakota,SD,884659,199729,4,221164.75,49932.25
41,Tennessee,TN,6833174,109153,10,683317.40,10915.30
42,Texas,TX,28995881,695662,14,2071134.36,49690.14
43,Utah,UT,3205958,219882,6,534326.33,36647.00
44,Vermont,VT,623989,24906,5,124797.80,4981.20
45,Virginia,VA,8535519,110787,9,948391.00,12309.67
46,Washington,WA,7614893,184661,5,1522978.60,36932.20
47,West Virginia,WV,1792147,62756,9,199127.44,6972.89
48,Wisconsin,WI,5822434,169635,2,2911217.00,84817.50
49,Wyoming,WY,578759,253335,2,289379.50,126667.50

5. A [példa](https://datasciencechalktalk.com/2019/09/28/analyzing-u-s-exports-with-plotly/), a kivitelt, exportmennyiséget ábrázolja az Amerikai Egyesült Államok térképen, államonként lebontva ezt. Készítsünk hasonló ábrákat az egyetemek abszolút, lakoság és terület szerinti eloszlásáról is. Az ábrákat exportáljuk kép formájában.
![](https://i.ibb.co/s1zdnLY/mapplot.png)

Ábra 1. [Térképen való ábrázolás](https://plotly.com/python/maps/) Plotly segítségével. [Forrás](https://datasciencechalktalk.com/2019/09/28/analyzing-u-s-exports-with-plotly/).

6. Számoljuk ki, hány egyetem van városonként, majd összesítve államonként. Ehhez az `egyetemek.txt` fájlban miután megkapunk egy várost, az utána következő kerek zárójelek között megszámoljuk, hány vesszővel elválasztott karakterlánc található. 
Pl. a következő sorban:	`Claremont (Claremont McKenna College, Pomona College, Harvey Mudd College, Scripps College, Pitzer College, Keck Graduate Institute, Claremont Graduate University)[5]` -> 6 vessző van a kerek zárójelek között, tehát 7 egyetem van a városban.    
Melyik államban és melyik városban van a legtöbb egyetem?

In [5]:
path = '/egyetemek.txt'

df2 = pd.DataFrame(columns=('State','City','UniversitiesCount'))

for line in path :
  if '[edit]' in line :
    state = re.sub("\[edit\]|[0-9]*",'',line)
    state = state.rstrip("\n")
  elif '(' in line:
    tmp = line.split('(')
    tmpcity = tmp[0]
    city = re.sub("\+|[0-9]*",'',tmpcity)
    tmpUni = tmp[1]
    tmpUni = re.sub("\)|[0-9]*|\[|\]",'',tmpUni)
    
    universities = tmpUni.split(',')
    u=len(universities)
    if len(state) > 0:
        row ={'State':state,'City':city,'UniversitiesCount':u}
        df2 = df2.append(row,ignore_index=True)
df2

Empty DataFrame
Columns: [State, City, UniversitiesCount]
Index: []